@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Nosifer&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  font-family: "Goldman", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #000000;
}

.badge {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  margin: 10px;
  height: 150px;
  width: 150px;
  color: #d5ff18;
}

.circleText {
  position: relative;
  transform-origin: 150px 150px;
  animation: spin 60s linear infinite;
  color: #d5ff18;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.specialFont {
  font-family: "Nosifer", sans-serif;
  color: #d5ff18;
}

.area {
  /* background: #4e54c8;  
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.changing-text {
  position: relative;
  font-size: 5vw;
  color: #252839;
  -webkit-text-stroke: 0.3vw #383d52;
  text-transform: uppercase;
  /* overflow: hidden; */
}

.changing-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #d5ff18;
  -webkit-text-stroke: 0vw #383d52;
  border-right: 2px solid #d5ff18;
  white-space: nowrap;
  overflow: hidden;
  animation: DataText 6s linear infinite;
}

@keyframes DataText {
  0%,
  10%,
  100% {
    width: 0;
  }

  70%,
  90% {
    width: 100%;
  }
}

.paraColor {
  color: #64697e !important;
}

.mt-2 {
  margin-top: 20px;
}

/* color = '213, 255, 24',
outerAlpha = 0.4,
innerSize = 15,
outerSize = 20, */
.cursor {
  z-index: 9999999;
  position: fixed;
  opacity: 1;
  pointer-events: none;
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.cursorInner {
  position: fixed;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  pointer-events: none;
  background-color: rgba(213, 255, 24, 1);
  transition: opacity 0.15s ease-in-out, transform 0.25s ease-in-out;
}

.cursorOuter {
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  width: 20px;
  height: 20px;
  background-color: rgba(213, 255, 24, 0.4);
  transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.svgText text {
  text-transform: uppercase;
  animation: stroke 5s infinite alternate;
  stroke-width: 2;
  stroke: #365fa0;
  font-size: 140px;
}

@keyframes stroke {
  0% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
  }

  80% {
    fill: rgba(72, 138, 20, 0);
    stroke: rgba(54, 95, 160, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(72, 138, 204, 1);
    stroke: rgba(54, 95, 160, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}

.tag-cloud {
  cursor: pointer;
  position: relative;
  color: #d5ff18;
}

.tag-cloud__item {
  font-weight: 800;
  left: 50%;
  position: absolute;
  top: 50%;
  transform-origin: 50% 50%;
  transition: all 0.1s;
  will-change: transform, opacity, filter;
}
@media (max-width: 576px) {
  .badge {
    top: -3rem !important;
    right: -3rem !important;
    height: auto;
    width: auto;
  }
  .twinkling {
    display: none;
  }
  .tag-cloud {
    width: 100% !important;
    height: 300px !important;
    margin: 8rem;
  }
}

.animation-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: sans-serif; */
  /* font-size: 15px; */
  z-index: 1;
}

/* .animation-container svg {
  position: absolute;
} */

.page {
  height: 600vh;
}

.content {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  color: #dcdcdc;
  z-index: 9;
}

.content-section {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
}

.content-section > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  /* margin-top: -10vh; */
  /* max-width: 900px; */
  text-align: center;
}

.arrow-animated {
  font-size: 35px;
  animation: arrow-float 1s infinite;
}

@keyframes arrow-float {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  60% {
    transform: translateY(50%);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}


.workTitle svg {
	position: relative;
	width: 100%;
	/* height: 100%; */
  font-family: "Goldman", sans-serif;
  font-weight: 700;

}
.workTitle svg text {
	text-transform: uppercase;
	animation: stroke 5s alternate;
	stroke-width: 2;
	stroke: #365fa0;
	font-size: 200px;
	fill: rgb(213, 255, 26)
}
@keyframes stroke {
	0% {
		fill: rgba(72, 138, 20, 0);
		stroke: rgb(213, 255, 26, 1);
		stroke-dashoffset: 25%;
		stroke-dasharray: 0 50%;
		stroke-width: 2;
	}
	70% {
		fill: rgba(72, 138, 20, 0);
		stroke: rgb(213, 255, 26, 1);
	}
	80% {
		fill: rgba(72, 138, 20, 0);
		stroke: rgb(213, 255, 26, 1);
		stroke-width: 3;
	}
	100% {
		fill: rgb(213, 255, 26, 1);
		stroke: rgba(54, 95, 160, 0);
		stroke-dashoffset: -25%;
		stroke-dasharray: 50% 0;
		stroke-width: 0;
	}
}


.paracontent {
  color: #DCDCDC;
  line-height: 1.5;
  font-size: calc(0.6rem + 1vw);
  margin-bottom: 2rem;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}


.workImg {
  width: 50%;
  position: relative;
}

.WorkContent {
  width: 50%;
  text-align: left;
}

.workImg img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #d5ff18;
  padding: 4px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .flex-between {
    display: block;
  }
  .workImg {
    width: 100%;
  }
  .WorkContent {
    width: 100%;
  }
}

.linkicon {
  width: 50px;
  border-radius: 50%;
  background: #d5ff1a;
  height: 50px;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -1rem;
  right: -2rem;
  cursor: pointer;
}

.linkicon img {
  border: 0;
  width: 30px;
  filter: brightness(0.4);
  padding: 0;
}


.linkicon:hover{
  background-color: #D5FF18;
  box-shadow: 0 0 8px 6px #D5FF18;
}

.linkicon >*:first-child{
  text-decoration: none;
  color: inherit;
}